click==6.7
colorama==0.4.3
colorzero==1.1
docutils==0.14
google-assistant-grpc==0.2.1
google-assistant-sdk==0.5.1
google-auth==1.10.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
googleapis-common-protos==1.51.0
h5py==2.8.0
librosa==0.7.2
llvmlite==0.31.0
lxml==4.6.2
matplotlib==3.0.2
mock==3.0.5
notebook
numba==0.47.0
numpy==1.16.2
oauthlib==2.1.0
pandas==0.23.3+dfsg
requests==2.21.0
requests-oauthlib==1.0.0
scikit-learn==0.22.1
scipy==1.1.0
six==1.12.0
sounddevice==0.3.14
spotipy==2.7.1
virtualenv==16.7.9
